@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;700&display=swap");

/** header */
* {
  margin: 0;
}
.header {
  width: 100% !important;
  height: 6rem !important;
}
/** End header */

.switchBx {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
p {
  text-align: center;
  margin: 30px;
}
body {
  font-family: "Open Sans condensed", sans-serif;
}
.english,
.spanish {
  color: #333;
  padding: 10px;
}
.check {
  position: relative;
  width: 50px;
}
.check:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 25px;
  background: #333;
  border-radius: 25px;
}
.check:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid #333;
  box-sizing: border-box;
}
.check:checked:after {
  left: 25px;
  border: 2px solid #00a1ff;
}
.check:checked:before {
  background: #00a1ff;
}
